/* estrutura */

@media (max-width: 1200px) {
  .container {
    grid-template-areas:
      'header header header'
      'sidenav content content'
      'sidenav anuncios anuncios'
      'footer footer footer';
  }
}

@media (max-width: 760px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'sidenav'
      'content'
      'anuncios'
      'footer';
  }
}

/* header */
@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }
  .logo {
    margin-bottom: 20px;
  }
  .header nav a {
    font-size: 1em;
  }
  .header li + li {
    margin-left: 10px;
  }
}

/* sidenav */

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  .sidenav ul {
    display: flex;
  }
  .sidenav li {
    flex: 1 0 60px;
  }
  .sidenav {
    padding: 0 30px;
  }
  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}

/* content */

@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
}