.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.preencher-col {
  grid-column: 1 / -1;
}

.img1 {
  grid-row: span 2;
  align-self: end;
}

.img2 {
  align-self: end;
}

.info p + p {
  margin-top: 30px;
}

.titulo {
  color: #b07dfb;
}

.titulo h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.875em;
  font-style: italic;
}

.perfil {
  display: flex;
  align-items: flex-start;
}

.perfil > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.perfil > div:first-child {
  margin-right: 30px;
}

.perfil span {
  display: block; 
  color: #b07dfb;
}

.num {
  font-size: 3em;
  line-height: 1;
  margin: 10px auto;
}

.rotulo {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 3px;
}

.destaque {
  font-size: 0.875em;
  color: #b07dfb;
  max-width: 16em;
}

.citacao,
.atributos {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  padding: 30px;
  align-self: start;
}

.citacao p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
}

.atributos li {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #b07dfb;
}